/* Add here all your CSS customizations */

.tparrows::before, .tparrows::after {
    font-weight: 900 !important;
}

#header {
background-color: #242e39;
}

.thumb-info-wrapper::after {
    cursor: pointer;
}